script(type="text/x-handlebars").
    <select id="translation">
      <option value="enfr">en <-> fr</option>
      <option value="fren">fr <-> en</option>
    </select>
    {{view App.AddSearchView id="new-search" placeholder="search on WordReference" }}
    <ul>
    {{#each App.searchesController}}
    <li class="{{ kind }}">
      <span class="original" {{ action "select" }}>{{ firstWordOrignal }}</span>
      <span class="translation" {{ action "select" }}>{{ firstWordTranslation }}</span>
    </li>
    {{/each}}
    </ul>
    
    {{#collection contentBinding="App.searchesController" tagName="ul"}}
      {{#view App.SearchView truc="App.searchesController.content.firstWordTranslation"}}
        <span class="original">{{firstWordOrignal}}</span>
        <span class="translation">{{firstWordTranslation}}</span>
        {{truc}}
      {{/view}}
    {{/collection}}
    