script(type="text/x-handlebars", data-template-name="searchView").
  <span class="original">{{ orignal }}</span>
  <span class="translation">{{ translation }}</span>
  <span>{{life}}</span>


script(type="text/x-handlebars").
    <select id="translation">
      <option value="enfr">en <-> fr</option>
      <option value="fren">fr <-> en</option>
    </select>
    {{view App.AddSearchView id="new-search" placeholder="search on WordReference" }}
    
    <h1>Ugly way ?</h1>
    <ul>
    {{#each App.searchesController}}
    <li class="{{ kind }}">
      <span class="original" {{ action "click" }}>{{ firstWordOriginal }}</span>
      <span class="translation" {{ action "click" }}>{{ firstWordTranslation }}</span>
    </li>
    {{/each}}
    </ul>
    
    <h1> Stylish way ?</h1>
    {{#view App.SearchesView}}
      <ul>
      {{#each searches}}
        <li>
          {{view App.SearchView contentBinding="this"}}
          
          <span class="original">{{ firstWordOriginal }}</span>
          <span class="translation">{{ firstWordTranslation }}</span>
        </li>
      {{/each}}
      </ul>
    {{/view}}
  